<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-lg-8 col-12">
      <app-about-me></app-about-me>
      <app-work-experience></app-work-experience>
      <app-latest-projects></app-latest-projects>
      <app-project-experience></app-project-experience>
      <app-github-projects></app-github-projects>

    </div><!--//primary-->
    <div class="secondary col-lg-4 col-12">
      <app-sidebar></app-sidebar>
    </div>
  </div><!--//row-->
</div><!--//masonry-->
