<header class="header">
  <div class="container clearfix">
    <img alt="Jordan Benge" class="profile-image img-fluid float-left" src="assets/images/profile.png">
    <div class="profile-content float-left">
      <h1 class="name">Jordan Benge</h1>
      <h2 class="desc">Application Software Developer</h2>
      <ul class="social list-inline">
        <li class="list-inline-item">
          <a href="https://twitter.com/J_Benge13"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://plus.google.com/u/0/115553779196108988927"><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/jordandanielbenge/"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Bengejd"><i class="fab fa-github-alt"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://stackoverflow.com/users/3507670/jordan-benge"><i class="fab fa-stack-overflow"></i></a>
        </li>
        <li class="list-inline-item last-item">
          <a href="https://codepen.io/Bengejd/"><i class="fab fa-codepen"></i></a>
        </li>
      </ul>
    </div><!--//profile-->
    <a class="btn btn-cta-primary float-right" href="https://github.com/Bengejd/Bengejd.github.io/raw/master/assets/docs/Jordan_Benge_Resume.pdf"><i class="fas fa-paper-plane"></i> Available</a>
  </div><!--//container-->
</header><!--//header-->
