<header class="header">
  <div class="container clearfix">
    <img class="profile-image img-fluid float-left"
         alt="Jordan Benge"
         src="assets/images/profile.png">
    <div class="profile-content float-left">
      <h1 class="name">Jordan Benge</h1>
      <h2 class="desc">Application Software Developer</h2>
      <app-social-links></app-social-links>
    </div>
    <a class="btn btn-cta-primary float-right"
       href="https://github.com/Bengejd/Bengejd.github.io/raw/master/assets/docs/Jordan_Benge_Resume.pdf"><i class="fas fa-paper-plane"></i> Available</a>
  </div>
</header>
