<section class="projects section">
  <div class="section-inner">
    <h2 class="heading">Open Source Contributions</h2>
    <div class="content">

      <div *ngFor="let p of projects; let i = index"
           class="item">
        <hr class="divider">
        <h4 class="title">
          {{p.title}}
          <ng-container *ngIf="p.titleBadge">
            &#8226;
            <span class="badge badge-theme"
                  [class.badge-theme-abandoned]="p.titleBadge === 'Abandoned'"
                  [class.badge-theme-private]="p.titleBadge === 'Private'">{{p.titleBadge}}</span>
          </ng-container>
        </h4>
        <p *ngFor="let item of p.texts"
           [innerHTML]="item"></p>
        <p *ngIf="p.githubLink">
          <a class="more-link"
             href="{{p.githubLink}}"
             target="_blank"><i class="fas fa-external-link-alt"></i>Find out more if interested</a>
        </p>
      </div>
    </div><!--//content-->
  </div><!--//secton-inner-->
</section><!--//section-->
