<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Projects</h2>
    <div class="content">
      <div class="item featured text-center">
        <h3 class="title"><a href="#"
                             target="_blank">SocialPnt - IOS App</a></h3>
        <p class="summary">A location-based social network that connects people through places.</p>
        <div class="featured-image">
          <a class="col-md-4 col-12"
             href="#"
             target="_blank"><img class="img-fluid project-image"
                                  alt="SocialPnt"
                                  src="assets/images/projects/SocialPnt.png"></a>
        </div>
        <div class="desc text-left">
          <p>Users can engage with their friends’ past, present, and future through the use of distinct Pnts located in popular locations. Now available on the App store for free!</p>
          <p class="title">Framework, services and more</p>
          <p>SocialPnt leverages the Ionic framework to give a cross-platform mobile experience. It utilizes <a href="https://firebase.google.com/">Google Firebase</a>, and their <a href="https://firebase.google.com/docs/firestore/">Cloud Firestore</a> service for it's database purposes, as well as <a href="https://cloud.google.com/functions/">Google Cloud Functions</a> to offload some of the more sensitive, and intensive data processing tasks to a dedicated Google Cloud instance.</p>
          <p>SocialPnt also leverages other SAAS solutions, such as <a href="https://www.algolia.com/">Algolia Search</a>, <a href="https://branch.io/">Branch .io</a> and <a href="https://cloudinary.com/">Cloudinary Image hosting</a>.</p>
          <p class="title">Languages</p>
          <p>Socialpnt is written in <strong>Typescript</strong>, <strong>HTML</strong> and <strong>SCSS</strong> with custom <strong><a href="https://cordova.apache.org/">Apache Cordova</a></strong> plugins written in <strong>Swift</strong> , <strong>Objective-C</strong> and <strong>Javascript</strong>.</p>
        </div><!--//desc-->
      </div><!--//item-->
      <hr class="divider">
      <div class="item featured text-center">
        <h3 class="title"><a href="https://github.com/Bengejd/NOLS"
                             target="_blank">IPA - Ionic Plugin Assistant</a></h3>
        <p class="summary">A NodeJs library that generates the necessary boilerplate for creating Ionic/Cordova plugins</p>
        <div class="featured-image">
          <a class="col-md-4 col-12"
             href="https://https://github.com/Bengejd/Ionic-Plugin-Assistant"
             target="_blank"><img class="img-fluid project-image"
                                  alt="IPA"
                                  src="assets/images/projects/IPA_LOGO.png"></a>
        </div>
        <div class="desc text-left">
          <p class="mb-2">IPA was made to make the average Ionic developers life a little bit easier, when wanting to create the own plugin for the Ionic Framework. Creating a plugin takes a <strong>LOT</strong> initial setup. I've written <a href="https://medium.com/@JordanBenge/how-to-write-an-ionic-cordova-plugin-in-swift-8d443430b27d">Medium articles</a> about how to properly setup plugins, but I felt like even with that, the process was too convoluted for some.</p>
          <p>So instead, I wanted to make the process easier - so I created the Ionic Plugin Assistant - IPA for short. Creating the package also made my life easier, because despite writing about the topic, I'm human and forget some of the steps, and often have to Google specifics - which lead me to <strong>my</strong> article.</p>
          <p>When you run IPA, it will ask you a few questions about your plugin, such as: the plugin name, the authors name, github repo, license, etc... and then generate all of the boilerplate code, to the point that you could <strong>technically</strong> submit it to the Ionic Native platform as a new plugin - but it would probably be closed for lack of functionality.</p>
          <p>IPA ensures that your plugin will adhear to Ionic plugin standards, common community standards, and set you up for success when it comes to making your plugin. This isn't to say that it will write your plugin for you, but it will give you a basic setup to get started with, where there was none to begin with.</p>
          <p>The library generates 11 files, all with unique requirements to properly work in your specific platform & within the Ionic Framework</p>
          <p>I opened-sourced IPA under the MIT license.</p>
          <p class="title">Languages</p>
          <p>IPA is written in <strong>NodeJs</strong> and <strong>Javascript</strong>.</p>
          <p class="title">Services, Integrations and more</p>
          <p>IPA utilizes <strong><a href="https://travis-ci.org/">Travis Continuous Integration</a></strong> for consistent deployment, <strong><a href="https://mochajs.org/">Mocha</a></strong> for Unit Testing (with a 87% code coverage reported by <strong><a href="https://codecov.io/">CodeCov!</a></strong>), with <strong><a href="https://webpack.js.org/">Webpack</a></strong><strong></strong> and <strong><a href="https://github.com/babel/babel">Babel</a></strong> used during the build phase.</p>
          <p><a class="more-link"
                href="https://github.com/Bengejd/NOLS"
                target="_blank"><i class="fas fa-external-link-alt"></i>View on GitHub</a></p>
        </div>
      </div>
      <hr class="divider">
      <div class="item featured text-center">
        <h3 class="title"><a href="https://github.com/Bengejd/NOLS"
                             target="_blank">NOLS - No One Likes Stylesheets</a></h3>
        <p class="summary">A NodeJs library that makes writing pixel perfect CSS a breeze</p>
        <div class="featured-image">
          <a class="col-md-4 col-12"
             href="https://github.com/Bengejd/NOLS"
             target="_blank"><img class="img-fluid project-image"
                                  alt="SocialPnt"
                                  src="assets/images/projects/NOLS_LOGO.png"></a>
        </div>
        <div class="desc text-left">
          <p class="mb-2">NOLS is a <strong>NodeJs</strong> package that I came up with after getting tired of making pixel-to-viewport conversions by hand, as in a large project you could potentially have dozens of small conversions that need to be done.</p>
          <p>With NOLS at your side you can have the peace of mind of knowing that your pixel perfect CSS looks the same on all devices.</p>
          <p>Other Node packages allow you to calculate a conversion, but none actually help you streamline your development process by applying the conversion in your stylesheets for you. <strong>Until NOLS.</strong></p>
          <p>What started out as a way to help myself out, has now become a pivotal part of my development process. As a result, I opened-sourced NOLS under the MIT license. So others could benefit as well.</p>
          <p class="title">Languages</p>
          <p>NOLS is written in <strong>NodeJs</strong> and <strong>Javascript</strong></p>
          <p class="title">Services, Integrations and more</p>
          <p>NOLS utilizes <strong><a href="https://travis-ci.org/">Travis Continuous Integration</a></strong> for consistent deployment, <strong><a href="https://mochajs.org/">Mocha</a></strong> for Unit Testing (with a 95% code coverage reported by <strong><a href="https://codecov.io/">CodeCov!</a></strong>), with <strong><a href="https://webpack.js.org/">Webpack</a></strong><strong></strong> and <strong><a href="https://github.com/babel/babel">Babel</a></strong> used during the build phase.</p>
          <p><a class="more-link"
                href="https://github.com/Bengejd/NOLS"
                target="_blank"><i class="fas fa-external-link-alt"></i>View on GitHub</a></p>
        </div>
      </div>
      <hr class="divider">
      <div class="item row">
        <a class="col-md-4 col-12"
           href="#"
           target="_blank"><img class="img-fluid project-image"
                                alt="Ionic-4-logo"
                                src="assets/images/projects/IPA_LOGO.png"></a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">Ionic 4 - Components Repository <span class="badge badge-theme">In Development</span></h3>
          <p>The Ionic 4 Components repository is a revival of the now dead <a href="">Ionic 3 Components</a> Github repo. It's aim is the same, to help people learn and speed up their development process with a curated list of advanced, unique, but often required components and functionality that is missing within the Ionic 4 Framework.</p>
          <p>It is open-sourced under the MIT license, and all are more than welcome to contribute.</p>
        </div><!--//desc-->
      </div><!--//item-->
      <hr class="divider">
      <div class="item row">
        <a class="col-md-4 col-12"
           href="https://github.com/Bengejd/cordova-plugin-last-cam"
           target="_blank"><img class="img-fluid project-image"
                                alt="project name"
                                src="assets/images/projects/last-cam-logo.png"></a>
        <div class="desc col-md-8 col-12">
          <h3 class="title"><a href="https://github.com/Bengejd/cordova-plugin-last-cam"
                               target="_blank">LastCam - An Ionic-Cordova Camera Plugin written in Swift</a></h3>
          <p class="mb-2">LastCam is a plugin I created after finding some of the alternatives within the Ionic community to be lacking. It utilizes a user's camera to create a preview that is streamed straight from their phone, into any HTML view that they want.</p>
          <p>The thing that makes LastCam special is it's ability to capture both videos and images, while other plugins only offer one or the other.</p>
          <p class="title">Languages</p>
          <p>LastCam is written in <strong>Swift</strong>, <strong>Javascript</strong> and <strong>Objective-C</strong></p>
          <p><a class="more-link"
                href="https://github.com/Bengejd/cordova-plugin-last-cam"
                target="_blank"><i class="fas fa-external-link-alt"></i>View on GitHub</a></p>
        </div><!--//desc-->
      </div><!--//item-->
      <hr class="divider">
      <div class="item row">
        <a class="col-md-4 col-12"
           href="#"
           target="_blank"><img class="img-fluid project-image"
                                alt="project name"
                                src="assets/images/projects/Ytrap.png"></a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">YTrap - IOS App</h3>
          <p>YTrap is a simple mobile app review system designed to allow the attendees of an event to give an honest yet anonymous review of the event without outing themselves. This allows hosts to facilitate better events in the future.</p>
          <p class="mb-2">YTrap was the first mobile app that I made. After careful consideration I made the decision to shut the app down, after some privacy concerns with the Facebook Developer API, which fueled the application.</p>
        </div><!--//desc-->
      </div><!--//item-->
      <hr class="divider">
      <div class="item row">
        <a class="col-md-4 col-12"
           href="#"
           target="_blank"><img class="img-fluid project-image"
                                alt="project name"
                                src="assets/images/projects/freedom-summer-app.jpeg"></a>
        <div class="desc col-md-8 col-12">
          <h3 class="title"><a href="http://cds.lib.miamioh.edu/freedom-summer-app/"
                               target="_blank">Freedom Summer App - IOS & Android App</a></h3>
          <p class="mb-2">The Freedom Summer App (FSApp) is a location-based tour that uses a mobile device and GPS technology to transport you to 1964 where you train as a Freedom Summer volunteer on Miami University's campus in Oxford, Ohio.</p>
          <p class="title">Languages</p>
          <p>FSApp is built using the open-source project <strong><a href="https://fielddaylab.org/make/aris/">ARIS</a></strong>, written in <strong>PHP</strong> and <strong>Objective-C</strong>. It leverages augmented reality to immerse the user into the rich history of the Freedom Summer, while using real-time image recognition to project historical images onto the user's screen at certain locations. The app is currently in Beta, and only available to pre-approved testers.</p>
          <p><a class="more-link"
                href="https://drive.google.com/open?id=1KOqus1L8kGbHoDZmUNZz0QAoD1nmzctiAB-9xQkW3mA"
                target="_blank"><i class="fas fa-external-link-alt"></i>Check out our presentation</a></p>
        </div><!--//desc-->
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</section><!--//section-->
