<section class="projects section">
  <div class="section-inner">
    <h2 class="heading">Other Projects</h2>
    <div class="content">

      <div *ngFor="let p of otherProjects; let i = index"
           class="item">
        <hr class="divider">
        <h3 class="title">{{p.title}}
          <ng-container *ngIf="p.titleBadge">
            &#8226;
            <span class="badge badge-theme"
                  [class.badge-theme-abandoned]="p.titleBadge === 'Abandoned'"
                  [class.badge-theme-private]="p.titleBadge === 'Private'">{{p.titleBadge}}</span>
          </ng-container>
        </h3>
        <p *ngFor="let item of p.texts"
           [innerHTML]="item"></p>
        <ng-container *ngFor="let sub of p.sub">
          <h4 class="title">{{sub.title}}</h4>
          <p *ngFor="let item of sub.texts"
             [innerHTML]="item"></p>
        </ng-container>
      </div>
    </div>
  </div>
</section>
