<aside class="info aside section">
  <div class="section-inner">
    <h2 class="heading sr-only">Basic Information</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Oxford Ohio, US</li>
        <li>
          <i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="#">Bengejdb@gmail.com</a>
        </li>
        <li>
          <i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="#">JordanBenge.com</a>
        </li>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//aside-->
<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> BS Computer Science</h3>
        <h4 class="university">Miami University, Oxford <span class="year">(Fall of 2019)</span></h4>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Favorite music</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-headphones"></i> <a href="https://open.spotify.com/playlist/1QYBHwyg32qqXNGoT90BdG">Check out my playlist on Spotify! (3855 followers).</a>
        </li>
      </ul>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Leadership</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> &Phi;&Mu;&Alpha; Webmaster</h3>
        <h4 class="university">Phi Mu Alpha Sinfonia, Alpha Theta chapter <span class="year">(Spring 2015 - Spring 2016)</span></h4>
        <h3 class="university">As the Webmaster, I worked to keep our website in compliance with National standards and up to date. Eventually I converted our chapter to use the Nationally provided service called <a href="https://ginsystem.com/">GinSystem</a>, to have all of our resources, documentation and literature in one secure place.</h3>
        <p><a class="more-link"
              href="http://miamioh.sinfonia.org/"
              target="_blank"><i class="fas fa-external-link-alt"></i>Check us out!</a></p>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> &Phi;&Mu;&Alpha; Social Chair</h3>
        <h4 class="university">Phi Mu Alpha Sinfonia, Alpha Theta chapter <span class="year">(Fall 2016 - Spring 2018)</span></h4>
        <h3 class="university">Contrary to popular belief, the social chair is the second most important position in a fraternity. I ran for Social Chair because at it's core, a Fraternity is a social organization, and I wanted to foster that brotherhood in the best way possible.</h3>
        <h3 class="university">The key to any chapter, and my mission as the Social Chair was to make sure that the brotherhood was always looking forward to something. Whether it be serenading people in Armstrong, getting together for paintball, or simply hanging out as a chapter, outside of our weekly business meetings.</h3>
        <h3 class="university">A chapter needs something to look forward to just like a person needs a reason to get out of bed in the morning, and I am proud that I was able to be apart of that.</h3>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> &Phi;&Mu;&Alpha; Province Council Representative (PRC)</h3>
        <h4 class="university">Phi Mu Alpha Sinfonia, Alpha Theta chapter <span class="year">(Fall 2016 - Spring 2018)</span></h4>
        <h3 class="university">The Province Council Representative represents the local chapter's views and ideals on a province level.</h3>
        <h3 class="university">I worked hand in hand with the CPR on changes that could potentially affect the National Fraternity as a whole.</h3>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> FSApp Senior Capstone Leader</h3>
        <h4 class="university">Miami University <span class="year">(Fall 2017 - Spring 2018)</span></h4>
        <h3 class="university">As the leader of my Senior Capstone group:I communicated directly with our client <a href="http://miamioh.edu/cca/academics/departments/theatre/about/faculty-and-staff/ann-elizabeth-armstrong/">Ann Armstrong</a> during our bi-weekly meetings to keep her up to date on our progress.</h3>
        <h3 class="university">I fleshed out our project deliverable's in a clear and concise manner that a non-technical person would understand, and coordinated with my project partners to complete the deliverable's on time that we promised our client.</h3>
        <h3 class="university">I also met with our project adviser weekly, keeping him informed of our progress, and bringing any concerns with our client that we had, to him.</h3>
      </div><!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> Drumline Section Leader</h3>
        <h4 class="university">Miami University Marching Band (MUMB) <span class="year">(Fall 2017 & Fall 2018)</span></h4>
        <h3 class="university">As the Drumline Section Leader, I provide musical leadership for the section. This means that I work with individual members and the group to improve our musical abilities and fix any issues that I notice, so that we improve the ensemble as a whole.</h3>
        <h3 class="university">I communicate with and advise the instructional staff and Marching Band Director on topics pertinent to the Drumline.</h3>
        <h3 class="university">In addition, I strive to facilitate a safe environment for members to bring both group and personal issues to my attention, and handle them in an unbiased and professional manner.</h3>
        <h3 class="university">I also organize section outings to bring the group closer together as a whole. In my opinion, if you enjoy the people around you in an activity that you're doing, you're going to enjoy that activity that much more.</h3>
      </div><!--//item-->
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
<aside class="testimonials aside section">
  <div class="section-inner">
    <h2 class="heading">Testimonials</h2>
    <div class="content">
      <div class="item">
        <blockquote class="quote">
          <p><i class="fas fa-quote-left"></i> Something nice that Co said.</p>
        </blockquote>
        <p class="source"><span class="name">Co Van Leeuwen</span><br>
          <span class="title">Dev Team Leader, WannaTrain Inc.</span></p>
      </div><!--//item-->
    </div><!--//content-->
    <div class="content">
      <div class="item">
        <blockquote class="quote">
          <p><i class="fas fa-quote-left"></i>Jordan willingly accepts challenging assignments and offers to contribute where ever he can. The best thing I noticed in him is his insatiable zeal to learn latest technical skills, technology stacks and tools and offer better solutions.</p>
        </blockquote>
        <p class="source"><span class="name">Ketaki Mhaisekar</span><br>
          <span class="title">Manager, University of Cincinnati - Research IT</span></p>
      </div><!--//item-->
      <p><a class="more-link"
            href="https://www.linkedin.com/in/jordandanielbenge/"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p>
    </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->
<aside class="blog aside section">
  <div class="section-inner">
    <h2 class="heading">Latest Blog Posts</h2>
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/ionic-4-autoplay-videos-on-scroll-6eb00213cdb4"
                           target="_blank">Ionic 4: Autoplay videos on scroll.</a></h3>
      <div>
        <p>This article was featured in the <strong>June 2019</strong> edition of the <a href="https://www.instagram.com/p/By5sLV3BtSM/"
                                                                                         target="_blank"><strong>Ionic Community Digest</strong></a> as one of the top articles within the Ionic Community. It was made to help bridge the gap in functionality between Native mobile apps and Ionic based ones. Bringing Instagram like autoplay videos to the Ionic 4 community.</p><a class="more-link"
                                                                                                                                                                                                                                                                                                                                                                                         href="https://medium.com/@JordanBenge/ionic-4-autoplay-videos-on-scroll-6eb00213cdb4"
                                                                                                                                                                                                                                                                                                                                                                                         target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/ionic-4-angular-ivy-the-future-is-now-old-man-dd9aca8bb905"
                           target="_blank">Ionic 4 & Angular Ivy — The Future Is Now, Old Man!</a></h3>
      <div>
        <p>The first article of it's kind to address how we can start benefiting from Angular 8 in an Ionic 4 application. It touches the good, the bad, and the ugly. Also included, is a peak into the results of builds differences throughout the process, and how Angular Ivy will change everything.</p><a class="more-link"
                                                                                                                                                                                                                                                                                                                 href="https://medium.com/@JordanBenge/ionic-4-angular-ivy-the-future-is-now-old-man-dd9aca8bb905"
                                                                                                                                                                                                                                                                                                                 target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/ionic-4-hiding-showing-tabs-on-certain-pages-31cf2380a5db"
                           target="_blank">Ionic 4 — Hiding & Showing Tabs on certain pages</a></h3>
      <div>
        <p>With all of the changes in Ionic 4 - a big question people have is how we can hide the tab bar on certain pages - with this article, you'll find out how to do exactly that.</p><a class="more-link"
                                                                                                                                                                                              href="https://medium.com/@JordanBenge/ionic-4-hiding-showing-tabs-on-certain-pages-31cf2380a5db"
                                                                                                                                                                                              target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/how-to-write-an-ionic-cordova-plugin-in-swift-8d443430b27d"
                           target="_blank">How to write an Ionic-Cordova plugin in Swift</a></h3>
      <div>
        <p>So you’ve found out that the plugin that you’ve been using isn’t all it’s chopped up to be? Or better yet, you found an amazing Swift library, that does everything you want it to do, and more. Well, that was exactly the point that I had reached while surfing the plugin list that Ionic showcases.</p><a class="more-link"
                                                                                                                                                                                                                                                                                                                          href="https://medium.com/@JordanBenge/how-to-write-an-ionic-cordova-plugin-in-swift-8d443430b27d"
                                                                                                                                                                                                                                                                                                                          target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/connecting-firebase-dynamic-link-authentication-with-the-edge-cases-of-branch-io-b31c2fc1d63e"
                           target="_blank">Connecting Firebase Dynamic link authentication with the edge-cases of Branch.io</a></h3>
      <div>
        <p>I recently was excited to see Firebase had released a “Email link (passwordless sign-in)” to their sign-in methods. Given the recent Facebook blowback, I wanted to move our platform away from using their login platform, which was convenient, but ultimately brought up some security risks we felt.</p><a class="more-link"
                                                                                                                                                                                                                                                                                                                          href="https://medium.com/@JordanBenge/connecting-firebase-dynamic-link-authentication-with-the-edge-cases-of-branch-io-b31c2fc1d63e"
                                                                                                                                                                                                                                                                                                                          target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
    <div class="item">
      <h3 class="title"><a href="https://medium.com/@JordanBenge/ionic-converting-video-to-base64-a95158de3b2a"
                           target="_blank">Ionic 3: Converting video to base64</a></h3>
      <div>
        <p>A short 2 min read about how to convert a video you've captured into a base64 string!</p><a class="more-link"
                                                                                                       href="https://medium.com/@JordanBenge/ionic-converting-video-to-base64-a95158de3b2a"
                                                                                                       target="_blank"><i class="fas fa-external-link-alt"></i> Read more</a>
      </div>
    </div><!--Item-->
  </div><!--//section-inner-->
</aside><!--//section-->
